/* 
general 
-------
*/

:root {
  --colorW: #fff; /* primary white */
  --colorB: #111; /* primary black */
  --color0: #333; /* primary text color */
  --color00: #555; /* primary tag line text color */
  --color1: #ff6f61; /* Primary Color (coral red)  */
  --color2: #ffa657; /* Secondary Color (golden Orange)  */
  --color3: #ffc857; /* Highlight Color (gold yellow)  */
  --color4: #f9f9e6; /* Text Color (off white)  */
  --color5: #4a90e2; /* Background Color (medium Blue)  */
  --color6: #58b368; /* Success Color (earthly Green)  */
  --color7: #eaeaea; /* Background Color (clean Light Grey)  */
  --color8: #f7f7f7; /* Background 2 Color (darker Lighter Grey)  */
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color0);
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1200px; */
  /* padding: 0 15px; */
}

.main {
  height: 100vh;
}

.mainButtonContainer {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.mainButton {
  display: flex;
  z-index: 999;
  margin: 2em;
  border-radius: 5%;
  border-style: groove;
  width: 10vh;
  height: 10vh;
  align-items: center;
}
.mainButtonText {
  width: inherit;
  height: auto;
  text-align: center;
}
.mainLayout .ant-layout-header {
  background: var(--color7); /* Light background color */
  min-height: 100px; /* Adjust height to fit your needs */
  width: 100%; /* Stretch to full width */
  padding: 0; /* Padding for internal spacing */
  line-height: 1.6; /* Adjust line height for text readability */
  position: relative; /* Ensure it stays in the document flow */
}

.myButton {
  margin: 50px;
  padding: 0;
  background: var(--color7);
  /* width: 15%; */
  /* height: 15%; */
  border-radius: 23%;
  font-family: "Brush Script MT";
  font-size: xx-large;
  cursor: pointer;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 999;
}
p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: var(--color8);
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: "";
  background: var(--color1);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/

/* Main sticky menu styles */
.stickyMenu {
  position: sticky;
  top: 0;
  z-index: 999; /* Ensures it's above other content */
  background-color: var(--color8); /* Light background */
  border-bottom: 2px solid var(--color1);
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.menuItems {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItems li {
  font-size: 1.2rem;
  font-weight: bold;
}

.menuItems li a {
  color: var(--color1);
  text-decoration: none;
  transition: color 0.3s;
}

.menuItems li a:hover {
  color: var(--color4);
}

.contacts {
  position: absolute; /* Positions it to the right of the parent container */
  top: 25px; /* Adjusts vertical alignment */
  right: 20px; /* Keeps the section close to the right edge */
  text-align: right;
  color: var(--color4); /* Use your global color variable */
  font-size: 0.9rem; /* Reduces the font size for a compact look */
  line-height: 1.4; /* Adjusts spacing between lines for readability */
}

.contacts div {
  margin-bottom: 5px; /* Adds spacing between contact rows */
}

.contacts a {
  text-decoration: none; /* Removes underline from links */
  color: var(--color4); /* Matches link color with global variable */
  font-weight: 500; /* Slightly bold for emphasis */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.contacts a:hover {
  color: var(
    --color3
  ); /* Changes to another color (e.g., highlight color) on hover */
}

.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  height: 64px; /* Ensure a defined height for the header */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  height: 100px; /* Ensure a defined height for the header */
  background-color: var(--color1);
  max-width: 100%;
  overflow: hidden;
}

.header .logo {
  font-size: x-large;
  font-family: "Brush Script MT";
  /* text-transform: uppercase; */
  font-weight: 800;
  margin: 20px;
}

.header .logo .fas {
  color: var(--color0);
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: var(--color0);
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: "";
  background: var(--color5);
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: var(--color5);
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: "";
  background: var(--color6);
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: var(--color5);
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* 
hero
---- 
*/
.heroBlock {
  background-position: 50% 100%;
  background-size: cover;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: 100vh;
}

.heroBlock .container-fluid {
  display: block !important;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: var(--color0) !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: var(--color5) !important;
}

.heroBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid var(--color7);;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: var(--color5);
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

.block.aboutBlock {
  background: var(--color8);
  padding: 50px 0;
}

.block.aboutBlock .titleHolder h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color0);
}

.block.aboutBlock .titleHolder p {
  font-size: 1rem;
  color: var(--color00);
}

.block.aboutBlock .content {
  text-align: center;
  padding: 20px;
  background: var(--colorW);;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.block.aboutBlock .content .icon {
  font-size: 2.5rem;
  color: var(--color5);
  margin-bottom: 20px;
}

.block.aboutBlock .content h3 {
  font-size: 1.5rem;
  color: var(--color0);
  margin-bottom: 10px;
}

.block.aboutBlock .content p {
  font-size: 1rem;
  color: var(--color00);
  line-height: 1.6;
}

/* 
how it works
------------
*/
.worksBlock {
  background: url("assets/images/bg-works.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: var(--colorW);
  position: relative;
}

.worksBlock:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: var(--colorW);
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid var(--colorW);
  color: var(--colorW);
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/*
buisiness showcase
*/
/* Overall Container */
.showcaseBlock {
  background: linear-gradient(to bottom right, var(--colorW), var(--color8));
  color: var(--color5);
  font-family: "Arial", sans-serif;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 40px auto;
  background-color: (var(--color1));
}

/* Header Section */
.showcaseHeader {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  border-bottom: 2px solid (var(--color3));
}

.showcaseHeader h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color0);
  margin-bottom: 10px;
}

.showcaseHeader p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color00);
}

/* Services Section */
.servicesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.serviceCard {
  background: var(--colorW);
  border: 1px solid var(--color8);
  border-radius: 10px;
  align-self: center;
  padding: 10px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.serviceCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.serviceCard h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color5);
  margin-bottom: 10px;
}

.serviceCard p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color00);
  line-height: 1.6;
}

/* Footer Section */
.showcaseFooter {
  text-align: center;
  background-color: var(--color1);
  color: var(--color4);
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--color8);
  font-size: 1rem;
  padding: 10px;
}

.showcaseFooter p {
  margin: 0;
}

.showcaseFooter p a {
  color: var(--color5);
  text-decoration: none;
  font-weight: 600;
}

.showcaseFooter p a:hover {
  text-decoration: underline;
}

.getInTouchButton {
  background-color: var(--color1); /* Matches theme */
  color: var(--colorW);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.getInTouchButton:hover {
  color: var(--color8); /* Change text color on hover */
}
/*
features
*/

.featureBlock {
  background-color: var(--color7);
  padding: 50px 0;
  margin: 40px auto;
}

.featureBlock .container {
  max-width: 1200px;
  margin: 0 auto;
}

.featureBlock .titleHolder {
  text-align: center;
  margin-bottom: 40px;
}

.featureBlock .titleHolder h2 {
  color: var(--color5);
  font-size: 2.5rem;
  margin: 0;
}

.featureBlock .titleHolder p {
  color: var(--color1);
  font-size: 1.2rem;
  margin-top: 10px;
}

.featureCard {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.featureCard:hover {
  transform: scale(1.03);
}

.featureCard img {
  height: 200px;
  object-fit: cover;
}

.featureCard .ant-card-meta-title {
  font-weight: bold;
  color: var(--color5);
  text-align: center;
  font-size: 1.2rem;
}

.videoSection {
  margin-top: 40px;
  text-align: center;
}

.videoSection {
  margin-top: 40px;
  text-align: center;
}

.videoTitle {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--color0);
}

.videoContainer {
  position: relative;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
  width: 60%; /* Set a fixed width */
  margin: 0 auto; /* Center the container horizontally */
}

.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
}

@media (max-width: 768px) {
  .featureBlock .titleHolder h2 {
    font-size: 2rem;
  }

  .featureBlock .titleHolder p {
    font-size: 1rem;
  }

  .featureCard img {
    height: 150px;
  }
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px var(--colorW);
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}

.contactBlock {
  padding: 60px 20px;
  background: var(--color8); /* Use your global secondary color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleHolder {
  text-align: center;
  margin-bottom: 30px;
}

.titleHolder h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color1);
}

.titleHolder p {
  font-size: 1rem;
  color: var(--color4);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form .ant-form-item-label {
  font-weight: bold;
  color: var(--color1);
}

.contact-form .ant-input,
.contact-form .ant-input-textarea {
  border-radius: 8px;
}

.contact-form .contact-form-button {
  background: var(--color1);
  border: none;
  color: var(--colorW);
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}

.contact-form .contact-form-button:hover {
  background: var(--color5); /* Hover effect color */
}

.contact-form .ant-checkbox-wrapper {
  color: var(--color4);
}

.contact-form .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: var(--color1);
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-icon-item {
  margin: 0 20px;
  text-align: center;
}

.contact-icon-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.contact-icon-item a:hover {
  transform: scale(1.1);
}

.contact-icon-item span {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--color0);
}

.contact-icon-item a:focus {
  outline: none;
}

/* privacy policy */

.privacy-policy-container {
  padding: 10rem;
}

.privacy-policy-header {
  margin-bottom: 2rem;
}

.privacy-policy-section {
  margin-bottom: 2rem;
}

.privacy-policy-section h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.privacy-policy-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.privacy-policy-section ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.privacy-policy-contact a {
  color: var(--color5);
  text-decoration: none;
}

.privacy-policy-contact a:hover {
  text-decoration: underline;
}

/*company */

.company-section {
  background: var(--color7); /* Soft background color */
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.company-container {
  max-width: 1200px;
  margin: 0 auto;
}

.company-name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color0);
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.company-prefix {
  color: var(--color5);
  font-size: 1.2rem;
  margin-right: 10px;
  transform: translateY(-5px);
}

.company-main-name {
  color: var(--color0);
  font-size: 3.2rem;
  animation: bounce 1.5s ease-out infinite alternate;
}

.company-tagline {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--color00);
  font-style: italic;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards 0.5s; /* Delayed for smooth transition */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .company-name {
    font-size: 2rem; /* Reduce font size on mobile */
  }

  .company-main-name {
    font-size: 2.2rem; /* Reduce font size on mobile */
  }

  .company-prefix {
    font-size: 1rem; /* Adjust prefix size */
  }

  .company-tagline {
    font-size: 1rem; /* Adjust tagline size */
  }
}

/* terms of service */

/* Container for the entire Terms of Service page */
.terms-container {
  padding: 10rem;
  max-width: 1000 px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Main title */
.terms-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color0);
}

/* Introduction paragraph */
.terms-introduction {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: justify;
  color: var(--color00);
}

/* Section titles */
.terms-subtitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--color6); /* Green color */
}

/* Section content */
.terms-section p {
  font-size: 1rem;
  color: var(--color00);
  margin-bottom: 1rem;
}

/* List inside sections */
.terms-list {
  margin-left: 1.5rem;
}

.terms-list li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color00);
}

/* Footer section */
.terms-footer {
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
  color: var(--color0);
}

/* Responsive Design */
@media (max-width: 768px) {
  .terms-container {
    padding: 1rem;
  }

  .terms-title {
    font-size: 1.5rem;
  }

  .terms-subtitle {
    font-size: 1.2rem;
  }

  .terms-introduction,
  .terms-section p {
    font-size: 1rem;
  }
}

/* 
footer
------
*/

.footer {
  background: var(--colorB) !important;
  color: var(--colorW) !important;
  padding: 20px 0 !important; /* Adjust padding for a compact footer */
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: var(--color5);
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: var(--colorW);
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: var(--colorW);
}

.footer .socials a:hover {
  color: var(--color5);
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .contacts {
    top: 20px; /* Adjusts vertical alignment */
  }
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
}
