PORT=8000
MONGO_URL=mongodb://127.0.0.1:27017/nomadme
AISSTREAM_API_KEY=
AISSTREAM_MMSI=210721000
AIS_CRON_INTERVAL_MS=21600000
AIS_SNAPSHOT_WINDOW_MS=120000
AIS_VERBOSE_LOGGING=true
AIS_SHOW_SECRET_ENV=false
